#card-container {
  grid-area: main;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  row-gap: 15px;
  margin: 15px 50px;
}

@media (min-width: 600px) and (max-width: 900px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }
}
